@import "tailwindcss";

:root {
  --background: #F5F8FA;
  --foreground: #171717;
  --grey-button: #EFF2F5;
  --bg-grey: #F5F8FA;
  --strong-blue: #181C32;
  --purple-accent: #8072B9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-grey-button: var(--grey-button);
  --color-bg-grey: var(--bg-grey);
  --color-strong-blue: var(--strong-blue);
  --color-purple-accent: var(--purple-accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F8FA;
    --foreground: #ededed;
    --grey-button: #EFF2F5;
    --bg-grey: #F5F8FA;
    --strong-blue: #181C32;
    --purple-accent: #8072B9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
}

/* Custom utility classes */
.grey-button {
  background-color: var(--grey-button);
}

.bg-grey {
  background-color: var(--bg-grey);
}

.strong-blue {
  color: var(--strong-blue);
}

.bg-strong-blue {
  background-color: var(--strong-blue);
}

.purple-accent {
  color: var(--purple-accent);
}

.bg-purple-accent {
  background-color: var(--purple-accent);
}
